*.iml
.idea/
bootswatch/*.*
bootswatch/*/*.less
bootswatch/*/bootstrap.min.css
bootswatch/*/index.html
bootswatch/*/thumbnail.png
bootswatch/.gitignore
bootswatch/api/
bootswatch/CNAME
bootswatch/css/
bootswatch/default/
bootswatch/font/
bootswatch/img/carboncostume.png
bootswatch/img/refs/
bootswatch/img/maxcdn.gif
bootswatch/js/
bootswatch/swatchmaker/
css/bootstrap-responsive.min.css
css/bootstrap.min.css
fontawesome/*.*
fontawesome/.gitignore
fontawesome/css/*.min.css
fontawesome/docs/
fontawesome/less/
fontawesome/sass/
js/bootstrap.min.js
